# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

test-results/
playwright-report/

# 忽略文件夹内的所有文件
public/video/*
public/user-message/*
public/user-image/*
public/user-background/*
public/user-avatar/*
public/note-image/*
public/javascripts/*
public/images/*


# 但是！不要忽略每个文件夹里的 .gitkeep 文件
!public/video/.gitkeep
!public/user-message/.gitkeep
!public/user-image/.gitkeep
!public/user-background/.gitkeep
!public/user-avatar/.gitkeep
!public/note-image/.gitkeep
!public/javascripts/.gitkeep
!public/images/.gitkeep
